.changes {
  background-color: #f4f6f9;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  .kyc-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInModal 0.5s forwards;
  }
  
  .kyc-modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideUpModal 0.5s ease;
  
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #003366;
      margin-bottom: 20px;
    }
  
    .kyc-modal-text {
      font-size: 16px;
      line-height: 1.6;
      text-align: justify;
      margin-bottom: 15px;
  
      strong {
        color: #f44336; /* Para resaltar advertencias */
      }
    }
  
    .kyc-modal-button {
      padding: 10px 20px;
      background-color: #003366;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .close-button {
      padding: 10px 20px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #d32f2f;
      }
    }
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .kyc-modal-content {
      padding: 20px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    .kyc-modal-text {
      font-size: 14px;
    }
  
    .kyc-modal-button, .close-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .kyc-modal-content {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .kyc-modal-text {
      font-size: 13px;
    }
  
    .kyc-modal-button, .close-button {
      font-size: 13px;
      padding: 8px 12px;
    }
  }
  
  @keyframes fadeInModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUpModal {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  


  .details-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInModal 0.5s forwards;
  }
  
  .details-modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideUpModal 0.5s ease;
  
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #003366;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  
    .close-button {
      padding: 10px 20px;
      background-color: #003366;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top: 20px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  @keyframes fadeInModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUpModal {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .rates-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInModal 0.5s forwards;
  }
  
  .rates-modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 95%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideUpModal 0.5s ease;
  
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #003366;
      margin-bottom: 20px;
    }

    .whatsapp-button {
      padding: 10px 20px;
      background-color: #25d366;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top: 20px;
    
      &:hover {
        background-color: #1ebe57;
      }
    }
  
    .rates-table {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      
      .rates-column {
        width: 30%;
  
        h3 {
          font-size: 20px;
          margin-bottom: 10px;
          color: #003366;
        }
  
        p {
          font-size: 16px;
          margin-bottom: 5px;
          text-align: left;
        }
      }
    }
  
    .close-button {
      padding: 10px 20px;
      background-color: #003366;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top: 20px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }

  

  
  @media (max-width: 768px) {
    .rates-modal-content {
      padding: 20px;
      max-height: 90vh; /* Ajustar para móviles */

    }
    
  
    .rates-table {
      flex-direction: column;
  
      .rates-column {
        width: 100%;
        margin-bottom: 20px;
  
        h3 {
          font-size: 18px;
        }
  
        p {
          font-size: 14px;
        }
      }
    }
  
    .whatsapp-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .close-button {
      font-size: 14px;
    }
  

    .rates-modal-content {
      padding: 20px;
    }
  
    .rates-table {
      flex-direction: column;
  
      .rates-column {
        width: 100%;
        margin-bottom: 20px;
        
        h3 {
          font-size: 18px;
        }
  
        p {
          font-size: 14px;
        }
      }
    }

    .details-modal-content {
      padding: 20px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    p {
      font-size: 14px;
    }
  
    .close-button {
      font-size: 14px;
    }
  }
  
  @keyframes fadeInModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUpModal {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .verification-alert {
    background-color: #f6d4b4;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
  
    .warning-icon {
      margin-right: 10px;
      color: #f89514;
    }
  
    &:hover {
      background-color: #f9cea7;
    }
  }

  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Para asegurar que esté encima de todo */
  }
  
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .custom-modal-content {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    width: 95%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
    animation: fadeInModal 0.5s ease-in-out;
  
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #003366;
      margin-bottom: 20px;
      font-family: 'Poppins', sans-serif; /* Tipografía moderna */
    }
  
    p {
      font-size: 16px;
      color: #333;
      text-align: justify; /* Texto justificado */
      line-height: 1.6;
      margin-bottom: 30px;
      font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    }
  
    .verification-gif {
      width: 150px;
      height: auto;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para la imagen */
    }
  
    .verify-button, .close-button {
      background-color: #003366;
      color: white;
      border: none;
      padding: 12px 25px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%; /* Botón ancho completo */
      max-width: 300px; /* Limitar el ancho máximo */
      font-family: 'Poppins', sans-serif;
    }
  
    .verify-button:hover, .close-button:hover {
      background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
    }
  
    .close-button {
      background-color: #6c757d; /* Color gris para el botón de cerrar */
    }
  
    .close-button:hover {
      background-color: #5a6268;
    }
  }
  
  .verify-button:hover, .close-button:hover {
    background-color: #003366;
  }
  
  .verification-alert {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .verification-alert:hover {
    background-color: #ffeeba;
  }
  
  .warning-icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  @keyframes fadeInModal {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px; // Agregamos espacio aquí para evitar que el navbar lo cubra


    h1 {
      font-size: 28px;
      font-weight: bold;
      color: #333;
      position: relative;
      display: inline-block;

      // Subrayado moderno
      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: #003366;
        left: 10%;
        bottom: -10px;
        border-radius: 10px;
      }
    }

    .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #e0e0e0;
      animation: fadeIn 0.8s ease;
    }
  }

  &__balances {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .balance-item {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      text-align: center;
      width: 30%;
      transition: transform 0.3s ease;
      animation: slideUp 0.5s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      h3 {
        font-size: 16px;
        color: #333;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        color: #388e3c;
      }
    }
  }

  &__tasa {
    margin-bottom: 30px;

    .tasa-header {
      cursor: pointer;
      background-color: #ffffff; // Color blanco como la tarjeta
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
      text-align: center;

      animation: flashRed 6s ease-in-out infinite;
    }

    .tasa-content {
      overflow: hidden;
      height: 0;
      transform: scaleY(0); 
      transform-origin: top; 
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 0.5s ease, opacity 0.4s ease-in-out;
      opacity: 0;
    
      &.open {
        height: auto;
        transform: scaleY(1);
        opacity: 1;
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 0.5s ease, opacity 0.4s ease-in-out;
      }
    
      &.closed {
        max-height: 0;
        opacity: 0;
        transform: scaleY(0);

        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 0.5s ease, opacity 0.4s ease-in-out;
      }
      

      .tasa-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

        img {
          width: 24px;
          height: 24px;
        }

        p {
          flex-grow: 1;
          margin-left: 10px;
          font-size: 16px;
        }

        span {
          font-weight: bold;
          color: #555;
          font-size: 16px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;

    .action-button {
      padding: 12px 30px;
      color: #fff;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease, transform 0.3s ease;
      animation: popIn 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }

      &.green {
        background-color: #4caf50;
        &:hover {
          background-color: #388e3c;
        }
      }
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    .tab {
      padding: 12px 30px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &.active {
        background-color: #003366;
        color: white;
      }

      &:hover {
        background-color: #00264b;
        color: white;
        transform: scale(1.05);
      }
    }
  }

  &__content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #555;
    }
  }

  @keyframes flashRed {
    0%, 80% {
      color: #333; // Mantener el color normal durante la mayor parte del tiempo
    }
    90% {
      color: #ff6961; // Cambio gradual a rojo suave
    }
    100% {
      color: #333; // Volver al color original
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes popIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    &__balances {
      flex-direction: column;
      align-items: center;

      .balance-item {
        width: 80%;
        margin-bottom: 20px;

        h3 {
          font-size: 14px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    &__actions {
      flex-direction: column;
      gap: 10px;
    }

    &__tabs {
      flex-direction: column;
      gap: 10px;
    }

    .tasa-header {
      font-size: 16px;
    }

    .tasa-item {
      p {
        font-size: 14px;
      }
    }
  }

  .movements__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  
    th, td {
      text-align: left;
      padding: 12px 15px;
    }
  
    th {
      background-color: #f4f4f4;
      font-weight: bold;
      font-size: 14px;
      color: #555;
    }
  
    td {
      background-color: #fff;
      border-bottom: 1px solid #e0e0e0;
      font-size: 14px;
      color: #333;
  
      img {
        margin-left: 5px;
        width: 16px;
        height: 16px;
      }
  
      &.cancelled {
        color: #f44336;
        font-weight: bold;
      }
  
      &.completed {
        color: #4caf50;
        font-weight: bold;
      }
  
      &.pending {
        color: #ff9800;
        font-weight: bold;
      }
  
      .view-details-icon {
        color: #003366;
        cursor: pointer;
        font-size: 18px;
        &:hover {
          color: #0056b3;
        }
      }
    }
  }
  
  .table-responsive {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora la experiencia en dispositivos táctiles */
  }
  
  @media (max-width: 768px) {
    .movements__table {
      width: 100%;
      font-size: 12px; /* Ajuste del tamaño de fuente para pantallas pequeñas */
    }
  
    th, td {
      padding: 10px;
    }
  
    td img {
      width: 14px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
      height: 14px;
    }
  
    .table-responsive {
      margin-bottom: 20px;
    }
  }
}