.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Full page height
    background-color: #f0f2f5; // Light background
    flex-direction: column;
  
    p {
      font-size: 18px;
      color: #333;
      margin-top: 1rem;
    }
  }
  
  .spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #3664F4; // Primary color
      border-radius: 50%;
      animation: spin 1.2s linear infinite;
      border-color: #3664F4 transparent transparent transparent;
    }
  
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  