.navbaruser {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    text-decoration:  none;
  
    &__list {
      display: flex;
      gap: 40px;
      list-style: none;
      padding: 0;
      margin: 0;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transform-origin: top; // Animaciones suaves
    }

    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      color: #333;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
      }

      .navbaruser__icon {
        margin-top: 15px;
        font-size: 24px;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }

    &__item--highlighted {
      background-color: #ffebee;
      border-radius: 25px;
      padding: 10px;
      bottom: 6px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #ffccd5;
        transform: scale(1.05);
      }

      span {
        color: #d32f2f;
        font-weight: bold;
      }
    }

    &__hamburger {
      display: none;
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%); // Para centrar el menú
    }

    @media (max-width: 768px) {
      &__list {
        display: none;
        flex-direction: column;
        width: 100%; // Expansión completa del contenedor
        position: absolute;
        top: 60px;
        right: 0;
        left: 0; // Asegurar que ocupe todo el ancho
        background-color: #ffffff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 15px;
        z-index: 10;
        opacity: 0;
        transform: scaleY(0); // Comienza contraído
      }

      &__list.active {
        display: flex;
        opacity: 1;
        transform: scaleY(1); // Animación de expansión suave
      }

      &__hamburger {
        display: block;
      }

      &__list.active {
        animation: openMenu 0.5s ease forwards;
      }

      &__list.inactive {
        animation: closeMenu 0.5s ease forwards;
      }
    }
  }

  @keyframes openMenu {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  @keyframes closeMenu {
    0% {
      opacity: 1;
      transform: scaleY(1);
    }
    100% {
      opacity: 0;
      transform: scaleY(0);
    }
  }
