.recover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  
    .recover-form {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
  
      .recover-logo {
        width: 200px;
        margin-bottom: 20px;
      }
  
      .form-group {
        margin-bottom: 20px;
        text-align: left;
  
        label {
          font-size: 14px;
          font-weight: bold;
          color: #333333;
          margin-bottom: 5px;
          display: block;
        }
  
        input {
          width: 100%;
          padding: 12px;
          border-radius: 5px;
          border: 1px solid #d9e2ec;
          font-size: 16px;
          color: #333;
          background-color: #f7f9fc;
          transition: border-color 0.3s ease;
  
          &::placeholder {
            color: #b0b0b0;
          }
  
          &:focus {
            outline: none;
            border-color: #003366;
            box-shadow: 0 0 5px rgba(0, 51, 102, 0.2);
          }
        }
      }
  
      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
  
        .btn-primary {
          background-color: #cc0704;
          color: white;
          border: none;
          padding: 12px 30px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #b02828;
            transform: scale(1.05);
          }
        }
  
        .btn-secondary {
          background-color: #b9bbbd;
          color: white;
          border: none;
          padding: 12px 30px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #5a6268;
            transform: scale(1.05);
          }
        }
      }
    }
  }
  