.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  
    .register-form {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
  
      .register-logo {
        width: 200px;
        margin-bottom: 20px;
      }
  
      .form-group {
        margin-bottom: 20px;
        text-align: left;
  
        label {
          font-size: 14px;
          font-weight: bold;
          color: #333333;
          margin-bottom: 5px;
          display: block;
        }
  
        input, select {
          width: 100%;
          padding: 12px;
          border-radius: 5px;
          border: 1px solid #d9e2ec;
          font-size: 16px;
          color: #333;
          background-color: #f7f9fc;
          transition: border-color 0.3s ease;
  
          &::placeholder {
            color: #b0b0b0;
          }
  
          &:focus {
            outline: none;
            border-color: #003366;
            box-shadow: 0 0 5px rgba(0, 51, 102, 0.2);
          }
        }
  
        .position-relative {
          position: relative;
  
          .toggle-password {
            position: absolute;
            top: 12px;
            right: 12px;
            background: none;
            border: none;
            font-size: 14px;
            color: #0066cc;
            cursor: pointer;
          }
        }
      }
  
      .phone-group {
        display: flex;
        flex-direction: column;  /* Asegura que el label y los inputs estén en columna */
      
        label {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: bold;
        }
      
        .phone-container {
          display: flex;
          gap: 10px;  /* Espacio entre el select y el input */
          align-items: center;  /* Asegura que ambos estén alineados verticalmente */
        }
      
        .phone-prefix {
          max-width: 100px;
          padding: 12px;
          border-radius: 5px;
          border: 1px solid #d9e2ec;
          background-color: #f7f9fc;
          height: 48px;  /* Asegura que tenga la misma altura que el input de teléfono */
          display: flex;
          align-items: center;
          justify-content: center;
        }
      
        input {
          flex-grow: 1;  /* Asegura que el input ocupe el espacio restante */
          padding: 12px;
          border-radius: 5px;
          border: 1px solid #d9e2ec;
          background-color: #f7f9fc;
          height: 48px;  /* Asegura que tenga la misma altura que el select */
        }
      }
      
  
      .form-check {
        display: flex;
        align-items: center;
        text-align: left;
  
        input {
          margin-right: 10px;
        }
  
        label {
          font-size: 14px;
          color: #333;
        }
      }
  
      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
  
        .btn-primary {
          background-color: #cc0704;
          border: none;
          padding: 12px 30px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #b02828;
            transform: scale(1.05);
          }
        }
  
        .btn-secondary {
          background-color: #b9bbbd;
          border: none;
          padding: 12px 30px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #5a6268;
            transform: scale(1.05);
          }
        }
      }
    }
  
    .modal-content {
      border-radius: 10px;
  
      .modal-header {
        background-color: #003366;
        color: #ffffff;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
  
      .modal-body {
        font-size: 16px;
        color: #333333;
  
        p {
          margin-bottom: 10px;
  
          strong {
            font-weight: 600;
            color: #003366;
          }
        }
      }
  
      .modal-footer {
        border-top: none;
  
        .btn-primary {
          background-color: #cc0704;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #b02828;
            transform: scale(1.05);
          }
        }
  
        .btn-secondary {
          background-color: #b9bbbd;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #5a6268;
            transform: scale(1.05);
          }
        }
      }
    }
  }
  