.send-money {
  background-color: #f4f6f9;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    
  }

  .balances-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .balance-item {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      text-align: center;
      width: 30%;
      transition: transform 0.3s ease;
      animation: fadeInUp 0.6s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }

      h3 {
        font-size: 16px;
        color: #333;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        color: #007bff;
      }
    }
  }

  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    animation: slideIn 0.6s ease;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
      }

      input,
      select {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #007bff;
        }
      }

      small {
        font-size: 12px;
        color: #555;
        margin-top: 5px;
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;

      .continue-button {
        background-color: #007bff;
        color: #fff;
        padding: 12px 30px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border: none;

        &:hover {
          background-color: #0056b3;
          transform: scale(1.05);
        }
      }

      
    }
  }

  .confirm-button {
    background-color: #28a745;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;

    &:hover {
      background-color: #218838;
      transform: scale(1.05);
    }
  }
  .exchange-rate-box {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    h4 {
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      color: #007bff;
      font-weight: bold;
    }
  }
  .back-button {
    background-color: #ffebee;
    color: #d32f2f;
    padding: 12px 30px;
    margin-right: 15px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #ffccd5;
      transform: scale(1.05);
    }
  }

  .exchange-rate {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  .beneficiary-step {
    animation: fadeIn 0.6s ease;

    h2 {
      font-size: 22px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }

    .beneficiaries-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .beneficiary-card {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }

        .flag-icon {
          width: 40px;
          height: 30px;
          margin-right: 20px;
        }

        .beneficiary-info {
          flex-grow: 1;

          h3 {
            font-size: 18px;
            color: #007bff;
            margin-bottom: 5px;
          }

          p {
            font-size: 14px;
            color: #555;
            margin-bottom: 3px;
          }
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .add-beneficiary-button {
        background-color: #28a745;
        color: #fff;
        padding: 12px 30px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #218838;
          transform: scale(1.05);
        }
      }
    }
  }

  .confirmation-step {
    animation: fadeInUp 0.6s ease;

    h2 {
      font-size: 22px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 15px;
    }
  }

  /* Modal de nuevo beneficiario */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
  
    // Cuando el modal está activo
    &.open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  
    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      position: relative;
      animation: fadeIn 0.5s ease;
  
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
  
      label {
        font-size: 16px;
        margin-bottom: 8px;
        display: block;
      }
  
      input, select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
  
      .submit-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
  
      @media (max-width: 768px) {
        padding: 15px;
        max-width: 95%; // Aumentar el ancho en pantallas móviles
  
        h2 {
          font-size: 20px;
        }
  
        input, select {
          padding: 8px;
        }
  
        .submit-button {
          padding: 10px;
        }
      }
    }
  
    // Animación de entrada
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    // Animación de salida
    @keyframes fadeOut {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(-10px);
      }
    }
    &.close {
      animation: fadeOut 0.5s ease;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.95);
    }
  }
  
  // Añadir el estado de cerrar con animación
  

  /* Alerta de confirmación */
  .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease;

    h3 {
      font-size: 24px;
      color: #28a745;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #555;
    }

    .alert-actions {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;

      .alert-button {
        background-color: #007bff;
        color: #fff;
        padding: 12px 30px;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #0056b3;
          transform: scale(1.05);
        }
      }
    }
  }

  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .balances-cards {
      flex-direction: column;
      align-items: center;

      .balance-item {
        width: 80%;
        margin-bottom: 20px;

        p {
          font-size: 18px;
        }
      }
    }

    .beneficiary-step .beneficiaries-list .beneficiary-card {
      flex-direction: column;
      align-items: flex-start;

      .flag-icon {
        width: 35px;
        height: 25px;
      }

      .beneficiary-info h3 {
        font-size: 16px;
      }
    }

    .form-container .form-group input,
    .form-container .form-group select {
      font-size: 14px;
    }

    .form-actions .continue-button,
    .form-actions .back-button {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}
